<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <activity
            android:name="io.agora.scene.convoai.ui.auth.CovLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".ui.auth.SSOWebViewActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.TermsActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="io.agora.scene.convoai.ui.main.CovMainActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="false"
            android:keepScreenOn="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="io.agora.scene.convoai.ui.living.CovLivingActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="false"
            android:keepScreenOn="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.photo.PhotoNavigationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentAppCompatTheme" />

        <service
            android:name=".service.CovLocalRecordingService"
            android:foregroundServiceType="microphone|mediaPlayback" />

        <activity
            android:name=".ui.mine.CovProfileSettingsActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.CovProfilePrivacyActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.CovProfileAddressActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.CovProfileNicknameActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.CovProfileAboutMeActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>
